body {
	margin:0;
	font-family:"Courier New";
}

#rightcont {
	float:left;
}

#leftcont{
	float:left;
	width:50%;
}

#left,#right,#table,#buttons {
	margin:10px;
	border:black;
	padding: 1em;
}

#left{
	background-color: lightcoral;
}

#right{
	background-color:lightblue;
	margin-left: 0;
}

#table{
	background-color: palegoldenrod;
}

#buttons{
	background-color: palegreen
}

textarea{
	width:99%;
	height:120px;
	resize: vertical;
}

#working{
	height:300px;
}

/*.highlight {
    border-radius: 0.5em;
    padding: 0 3px;
    margin: 0 -3px;
}*/

.locked{
	color: red;
}

.strikethrough{
	text-decoration:line-through;
}